<div class="container d-flex justify-content-between align-items-center">

    <a class="navbar-brand text-success logo h1 align-self-center" href="/home">
        PD
    </a>

    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
        data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
        id="templatemo_main_nav">
        <div class="flex-fill">
            <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/formVariables">Variables Climáticas</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="/viewFormPackingList">Ingresar Packing List</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li> -->
            </ul>


        </div>
        <form class="d-flex" action="{{ url_for('logout') }}">
            <button class="btn btn-outline-success" type="submit">Cerrar sesión</button>
        </form>

    </div>

</div>