{% extends "layouts/base.html" %}

{% block title %} Page User {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="row justify-content-center">
  <div class="col-md-4">
    {% with messages = get_flashed_messages() %}

    {% if messages %}
    {% for mensaje in messages %}


    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{mensaje}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endfor %}
    {% endif %}
    {% endwith %}


    <div class="card card-body">
      <form action="/add_packingListDetalle" method="POST">
        <!-- <div class="form-group"> Pallets
          <input type="text" name="pallet" placeholder="Número del pallet" id="txtPallet" class="form-control" disabled="true" >
          <input type="hidden" name="txtPalletForm" id="txtPalletForm" >

        </div> -->

        <div class="form-group"> Pallets
          <!-- <select id="" name="cmbTipoCaja" class="form-control">
            <option value="1">AMPRO</option>
            <option value="2">IREN</option>
          </select> -->
          <select id="cmbPallet" name="cmbPallet" class="form-control">
            <option value="1">Pallet 1</option>
            <option value="2">Pallet 2</option>
            <option value="3">Pallet 3</option>
            <option value="4">Pallet 4</option>
            <option value="5">Pallet 5</option>
            <option value="6">Pallet 6</option>
            <option value="7">Pallet 7</option>
            <option value="8">Pallet 8</option>
            <option value="9">Pallet 9</option>
            <option value="10">Pallet 10</option>
            <option value="11">Pallet 11</option>
            <option value="12">Pallet 12</option>
            <option value="13">Pallet 13</option>
            <option value="14">Pallet 14</option>
            <option value="15">Pallet 15</option>
            <option value="16">Pallet 16</option>
            <option value="17">Pallet 17</option>
            <option value="18">Pallet 18</option>
            <option value="19">Pallet 19</option>
            <option value="20">Pallet 20</option>




          </select>
        </div>


      <!-- <div class="form-group text-center">
        <button id="btnPalletAnterior" name="btnPalletAnterior" type="button" onClick="atras_pallet()" class="btn btn-success">Pallet anterior</button> 
        <button id="btnSgtePallet" name="btnSgtePallet" type="button" onClick="adelante_pallet()" class="btn btn-success">Siguiente Pallet</button>
      </div> -->

  

      <div class="form-group"> 
        <!-- Fecha de corte
        <input type="text" name="fechaCorte" placeholder="Fecha de corte" id="" class="form-control"> -->
        {{form.fechaCorte.label(class='bmd-label-floating')}} {{form.fechaCorte(class='datepicker')}} {{form.hidden_tag()}}
        {%for error in form.fechaCorte.errors %} 
            <span style="color: red;">{{error}}</span>
        {% endfor %}
      
      </div>

      <!-- <div class="form-group"> Productor
        <select id="" name="cmbProductor" class="form-control">
          <option value="1">AMPRO</option>
          <option value="2">IREN</option>
        </select> -->
        <div class="form-group"> Productor 
          <select id="cmbProductor" name="cmbProductor" class="form-control">
            <option value="1">MAXIMO LOPEZ ROJAS - BA 01</option>
            <option value="2">SANTOS NORIEGA ROMAN - BA 02</option>
            <option value="3">ANDRES NORIEGA ROMAN - BA 03</option>
            <option value="4">PABLO CALLE CHAMBIO - BA 04</option>
            <option value="5">ANDRES SANCHEZ CARLIN - BA 07</option>
            <option value="6">EVER MENA PALACIOS - BA 17</option>
            <option value="30">EVER MENA PALACIOS - BA 49</option>
            <option value="7">JOSE SANTOS GIRON VELASQUEZ - BA 18</option>
            <option value="8">PABLO ALBERTO AGUIRRE ALVARADO - BA 26</option>
            <option value="9">SEGUNDO MIGUEL MENA PALACIOS - BA 27</option>
            <option value="10">MANUEL MONCADA PACHERRE - BA 28</option>
            <option value="11">DANI DANIEL JARAMILLO AGURTO - BA 32</option>
            <option value="12">EDSON BENITES RUIZ - BA 35</option>
            <option value="13">ROLANDO JAVIER LEITON ALVARADO - BA 37</option>
            <option value="14">LORGIO MENA PALACIOS - BA 39</option>
            <option value="15">MIGUEL EDUARDO CERVERA MONCADA - BA 40</option>
            <option value="16">IRMA LOPEZ ROJAS - BA 45</option>
            <option value="17">GOSVINDA LOPEZ ROJAS - BA 46</option>
            <option value="18">JORGE LUIS VALDIVIEZO CHEVEZ - BA 47</option>
            <option value="19">TERESITA DEL JESUS ATOCHE DOMINGUEZ - BA 50</option>
            <option value="20">SABINO CHICOMA MARCHENA - BA 51</option>
            <option value="21">JOSE SANTOS JIMENEZ BERRU - BA 57</option>
            <option value="22">PEDRO MENA NORIEGA - BA 58</option>
            <option value="23">HUMBERTO ENCALADA CORONADO - BA 59</option>
            <option value="24">CARLOS MANUEL ALVARADO PALACIOS - BA 60</option>
            <option value="25">JOSE FRANCISCO TIRADO CHEVEZ - BA 62</option>
            <option value="26">LUCIANO GALLARDO ADRIANZEN - BA 61</option>
            <option value="27">EDWIN CHINGUEL FLORES - ----</option>
            <option value="28">FERNANDO AUGUSTO CHEVEZ VERONA - ---- </option>
            <option value="29">JULIO CESAR PALOMINO - ---- </option>
            <option value="30">CARLOS  MONCADA RUIZ - ---- </option>
            <option value="33">ISIDRO VALDIVIEZO CRISANTO - ---- </option>
            <option value="34">JARLY MENA NORIEGA - ---- </option>
            <option value="35">PARCEMON CORDOVA RAMOS - ---- </option>
            <option value="37">JOSE SANTOS GIRON VELASQUEZ - BA 73 </option>

          </select>
      </div>

      <div class="form-group"> 
        <!-- Número de cajas
        <input type="text" name="nroCajas" placeholder="Número de cajas" id="" class="form-control"> -->
        {{form.nroCajas.label(class='bmd-label-floating')}}  {{form.nroCajas(class="form-control")}}
        {%for error in form.nroCajas.errors %} 
            <span style="color: red;">{{error}}</span>
        {% endfor %}   
      </div>

      <div class="form-group"> Tipo de caja
        <!-- <select id="" name="cmbTipoCaja" class="form-control">
          <option value="1">AMPRO</option>
          <option value="2">IREN</option>
        </select> -->
        <select id="cmbTipoCaja" name="cmbTipoCaja" class="form-control">
          <option value="1">NATUR ORGANIC</option>
          <option value="2">FAIR</option>
          <option value="3">22 CLOSTER</option>
          <option value="4">NATUR FAIRTRADE</option>
          <option value="5">CARREFOUR</option>
          <option value="6">GUTBIO</option>
        </select>
      </div>

      <script>
          console.log("mensaje");
        console.log({{ dataPackingListDetalle2.3| safe}});
        console.log({{ dataPackingListDetalle2.6| safe}});
        console.log({{ dataPackingListDetalle2.7| safe}});
        document.ready = document.getElementById("cmbPallet").value = {{ dataPackingListDetalle2.3| safe}};
        document.ready = document.getElementById("cmbProductor").value = {{ dataPackingListDetalle2.6| safe}};
        document.ready = document.getElementById("cmbTipoCaja").value = {{ dataPackingListDetalle2.7| safe}};
      </script>

      
        <div class="form-group">
          <!-- <button type="submit" class="btn btn-primary w-100">Guardar este detalle</button> -->
          {{form.hidden_tag()}}
          {{form.submit(class="btn btn-primary w-100")}}
        </div>

      </form>
    </div>
  </div>
</div>


  <div class="row justify-content-center">

  <div class="col-md-8 table-responsive">


  <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td>Fecha de corte</td>
          <td>Productor</td>
          <td>Pallet</td>
          <td>Número de cajas</td>
          <td>Tipo de caja</td>
         
          <td>Opciones</td>
        </tr>

      <tbody>
        {% for data in dataPackingListDetalle %}
        <tr>
          <td>{{data.1}}</td>
          <td>{{data.2}}</td>
          <td>{{data.3}}</td>
          <td>{{data.4}}</td>
          <td>{{data.5}}</td>
                  <td>
            <!-- <a href="/edit/{{data.0}}" class="btn btn-info btm-sm"> Editar </a> -->
            <!-- <a href="/edit/{{data.0}}" data-toggle="tooltip" data-placement="top" title="Editar" class="offset-md-1  fas fa-leaf text-green" >
              
            </a> 
            <a href="/delete/{{data.0}}" class="btn btn-danger btm-sm"> Eliminar </a> -->

            <a href="/editPackingListDetalle/{{data.0}}" data-toggle="tooltip" data-placement="top" title="Editar" class="offset-md-1  far fa-edit text-primary" >
            <a href="/deletePackingListDetalle/{{data.0}}" data-toggle="tooltip" data-placement="top" title="Eliminar" class="offset-md-1  far fa-trash-alt text-danger" >
          </td>

        </tr>

        {% endfor %}

      </tbody>
      </thead>
    </table> 



  </div>
</div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}



{% endblock javascripts %}