{% extends './base.html' %} {% block title %}Login{% endblock %} {% block
customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/sig.css')}}" />
{% endblock %} {% block body %}

<div class="container-fluid">

  <main class="form-signin">
    <form action="/login" method="POST">
      <div>
        <img class="mb-4" src="{{ url_for('static', filename='assets/img/udep.png')}}" alt="" width="269" height="96" />
      </div>
      <div>
        <img class="mb-4" src="{{ url_for('static', filename='assets/img/labsac.png')}}" alt="" width="300"
          height="116" />
      </div>
      {% with messages = get_flashed_messages() %} {% if messages %}
      <br />
      {% for message in messages %}
      <div class="alert alert-primary alert-dismissible" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %} {% endif %} {% endwith %}

      <!-- token ubicacion -->

      <div class="form-floating">
        <input type="text" class="form-control" id="username" name="username" placeholder="name" />
        <label for="floatingInput">Usuario</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" />
        <label for="floatingPassword">Contraseña</label>
      </div>
      <br>
      <br>
      <!-- <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me" /> Recordar contraseña
        </label>
      </div> -->
      <button class="w-100 btn btn-lg btn-primary" type="submit">Ingresar</button>
    </form>

  </main>

  <div class="container">
    <div class="row justify-content-around">
      <div class="col-sm-4 text-center">
        <img src="/static/assets/img/fondecyt.png" class="img-fluid" width="100%" height="100%" class="navbar-brand-img"
          alt="fondecyt" />
      </div>
      <div class="col-sm-4 text-center">
        <img src="/static/assets/img/bmundial.png" class="img-fluid" width="100%" height="100%" class="navbar-brand-img"
          alt="Fontagro" />
      </div>
      <div class="col-sm-4 text-center">
        <img src="/static/assets/img/asprobo2.png" class="img-fluid" width="50%" height="50%" class="navbar-brand-img"
          alt="IDIAF" />
      </div>
    </div>
    <div class="container">
      <h6 class="text-muted" align="center">
        Laboratorio de sistemas automáticos de control. Todos los derechos reservados 2022
      </h6>
    </div>
  </div>

</div>
{% endblock %}